/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=============== Css ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Warna ==========*/
  --first-color: hsl(140, 40%, 48%);
  --first-color-alt: hsl(140, 40%, 44%);
  --title-color: hsl(140, 4%, 12%);
  --text-color: hsl(140, 4%, 40%);
  --text-color-light: hsl(140, 4%, 64%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 95%);
  --shadow-img: drop-shadow(0 8px 12px hsla(0, 0%, 0%, .2));
  --filter-img: invert(1);

  /*========== Font + Tipografi ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Cherry Bomb One", cursive;
  --third-font: "Bubblegum Sans", cursive;
  --biggest-font-size: 3rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Ketebalan Font ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsif Tipografi ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== Main ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
  line-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== Tema ===============*/
.nav__buttons{
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.change-theme{
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--title-color);
  padding-top: 0.9rem;
}

/*========== Versi Tema Hitam ==========*/
body.dark-theme{
  --first-color: hsl(140, 30%, 45%);
  --first-color-alt: hsl(140, 30%, 40%);
  --title-color: hsl(140, 4%, 90%);
  --text-color: hsl(140, 4%, 70%);
  --body-color: hsl(0, 0%, 10%);
  --container-color: hsl(0, 0%, 14%);
  --shadow-img: drop-shadow(0 8px 12px hsla(0, 0%, 0%, .6));
  --filter-img: initial;
}

/*========== Perubahan Warna Versi Tema Hitam ==========*/
.dark-theme :is(.shadow-header, .nav__menu, .populer__bg, .scrollup, .nav__container){
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, .3);
  background-color: var(--container-color);
}

.dark-theme .scrollup{
  background-color: var(--container-color);
}

.dark-theme::-webkit-scrollbar{
  background-color: hsl(0,0%,15%);
}

.dark-theme::-webkit-scrollbar-thumb{
  background-color: hsl(0,0%,30%);
}

.dark-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsl(0,0%,40%);
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--big-font-size);
  font-family: var(--third-font);
  text-align: center;
  margin-bottom: 1rem;
}


.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  padding-bottom: 10px;
  transition: box-shadow .4s, background-color .4s;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
} 

.nav__logo,
.nav__toggle,
.nav__close {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title-color);
}

.nav__logo {
  width: 70px;
  padding-top: 22px;
  padding-left: 12px;
  column-gap: .25rem;
  font-weight: bold;
  font-size: var(--h3-font-size);
  font-family: var(--third-font);
}

.nav__toggle,
.nav__close {
  font-size: 1.4rem;
  cursor: pointer;
  padding-top: 1rem;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-left: 20px;
  position: relative;
}

.nav__link {
  text-decoration: none;
  color: var(--title-color);
}

.nav__link.active-link {
  font-weight: bold;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--title-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 160px;
  top: 100%;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.nav__item:hover .dropdown-content {
  display: block;
}

.dark-theme :is(.shadow-header, .nav__menu, .populer__bg, .scrollup, .nav__container) {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, .3);
  background-color: var(--container-color);
}

.dark-theme .scrollup {
  background-color: var(--container-color);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(0, 0%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 30%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 40%);
}


/* Navigation user hp */
@media screen and (max-width: 1150px){ 
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 2px 16px hsl(0, 0%, 0%, .1);
    transition: top .4s;
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1rem;
  padding-bottom: 15px;
  padding-top: 8px;
}

.nav__link{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.nav__img-1,
.nav__img-2{
  position: absolute;
  filter: var(--filter-img);
}

.nav__img-1{
  width: 150px;
  top: -2.5rem;
  left: -3.5rem;
  rotate: 180deg;
}

.nav__img-2{
  width: 50px;
  bottom: 0.2rem;
  right: 2.5rem;
}

/* Show menu */
.show-menu{
  top: 0;
}

/* Add shadow header */
.shadow-header{
  box-shadow: 0 4px 12px hsl(0, 0%, 0%, .1);
  background-color: var(--white-color);
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home{
  position: relative;
}

.home__container{
  padding-top: 2.5rem;
  row-gap: 2rem;
}

.home__data{
  position: relative;
  text-align: center;
}

.home__tittle{
  font-size: var(--biggest-font-size);
  font-family: var(--third-font);
  margin-bottom: 1rem;
}

.home__description{
  margin-bottom: 2rem;
}

.home__food,
.home__branch{
  filter: var(--filter-img);
  position: absolute;
}

.home__food{
  width: 40px;
  top: 6.75rem;
  left: 1rem;
}

.home__img{
  width: 320px;
  justify-self: center;
  filter: var(--shadow-img);
}

.home__branch{
  width: 120px;
  right:-3rem;
  bottom: 15rem;
}
/*=============== BUTTON ===============*/
.button{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  border-radius: 4rem;
  transition: box-shadow .4s;
}

.button:hover{
  box-shadow: 0 8px 24px hsl(140, 40%, 48%, .6);
}

/*=============== ENJOY ===============*/
.enjoy__container{
  padding-top: 2rem;
  grid-template-columns: 240px;
  row-gap: 2rem;
  justify-content: center;
}

.enjoy__card{
  position: relative;
  text-align: center;
}


/*=============== ABOUT ===============*/
.about{
  position: relative;
}

.about__container{
  row-gap: 2rem;
}

.about__data{
  position: relative;
  text-align: center;
}

.about__description{
  margin-bottom: 2rem;
}

.about__food,
.about__branch{
  filter: var(--filter-img);
  position: absolute;
}

.about__food{
  width: 40px;
  bottom: 2rem;
  right: 1rem;
}

.about__img{
  width: 470px;
  justify-self: center;
  filter: var(--shadow-img);
}

.about__branch{
  width: 120px;
  rotate: 60deg;
  left:-3.5rem;
  bottom: 15rem
}

/*=============== POPULAR ===============*/
.product-name{
  font-family: var(--body-font);
}

.title-pro{
  font-family: var(--second-font);
}

.populer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
  padding: 2rem 1rem;
}

.populer__card {
  position: relative;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 1rem;
  overflow: hidden;
  transition: transform .3s, box-shadow .3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.populer__card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.populer__bg {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.populer__img {
  width: 70%;
  height: 30%;
  object-fit: cover;
  transition: transform .3s;
  margin: auto;
}

.populer__card:hover .populer__img {
  transform: scale(1.1);
}

.populer__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
  padding: 1rem;
  border-radius: 1rem;
}

.populer__card:hover .populer__content {
  opacity: 1;
}

.populer__tittle {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
  font-family: var(--second-font);
}

.populer__description {
  font-size: var(--normal-font-size);
  margin-bottom: 0.5rem;
}

.populer__harga {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}

.populer__button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  border-radius: 4rem;
  transition: background-color .3s, transform .3s;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
}

.populer__card:hover .populer__button {
  opacity: 1;
  pointer-events: auto;
}

.populer__icon {
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  background-color: var(--first-color);
  color: var(--white-color);
  font-size: 1.25rem;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  transition: background-color .3s, transform .3s;
}

.populer__icon:hover {
  background-color: var(--first-color-alt);
  transform: translateY(-0.2rem);
}

.populer__card:hover .populer__img::after {
  content: attr(alt);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/*=============== JOIN ===============*/
.join__container{
  position: relative;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.join__content{
  position: relative;
  padding: 2.5rem;
  row-gap:2rem;
  border-radius:1rem;
  overflow: hidden;
  background-color: gray;
}

.join__content::after{
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: hsla(0, 0%, 0%, .2);
  top: 0;
  left: 0;
  backdrop-filter:blur(3px) ;
}

.join__bg{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.join__data,
.join__form{
  z-index: 5;
}

.join__data, .section__tittle, .join__description{
  color: var(--white-color);
  text-align: center;
}

.join__form{
  display: grid;
  row-gap: .75rem;
}

.join__input{
  width: 100%;
  padding: 1rem;
  border-radius: 4rem;
  background-color: var(--body-color);
  color: var(--title-color);
  transition: background-color .4s;
}

.join__input::placeholder{
  color: var(--text-color);
}

.join__button{
  cursor: pointer;
}

.join__leaf-1,
.join__leaf-2{
  position: absolute;
  width: 80px;
}

.join__leaf-1{
  top: 0.5rem;
  left: .75rem;
  rotate: 135deg;
}

.join__leaf-2{
  right: 1.5rem;
  bottom: 1rem;
  rotate: 15deg;
}
/*=============== FOOTER ===============*/
.Footer{
  padding-block: 3rem 2rem;
  overflow: hidden;
}

.footer__contaier{
  position: relative;
  row-gap: 3rem;
}

.footer__logo{
  display: flex;
  column-gap: .25rem;
  font-family: var(--third-font);
  font-weight: bold;
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
  align-items: center;
  width: 80px;
}

.footer__logo img{
  width: 50px;
}

.footer__data{
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem;
}

.footer__tittle{
  font-size: var(--h3-font-size);
  font-family: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer__links{
  display: grid;
  row-gap: .75rem;
}

.footer__link{
  color: var(--text-color);
  transition: color .4s;
}

.footer__link:hover{
  color: var(--first-color);
}

.footer__sosial{
  display: flex;
  column-gap: 1rem;
}

.footer__sosial-link{
  font-size: 1.25rem;
  color: var(--first-color);
  transition: color .4s;
}

.footer__sossial-link:hover{
  transform: translateY(-2.5rem);
}

.footer__copy{
  display: block;
  margin-top: 1rem;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(0,0%,85%);
}

::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(0,0%,70%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(0,0%,55%);
}
/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(0,0%,0%, .1);
  display: inline-flex;
  padding: 8px;
  border-radius: .25rem;
  font-size: 1.25rem;
  color: var(--title-color);
  z-index: var(--z-tooltip);
  transition: bottom .4s, trasform .4s, background-color .4s;
}

.scrollup:hover{
transform: translateY(-.5rem);
}
/* Show Scroll Up */
.show-scroll{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px){
  .container{
    margin-inline: 1rem;
  }

  .home__tittle{
    font-size: 2.5rem;
  }

  .home__food{
    top: 5.5rem;
  }

  .home__branch{
    right: -4rem;
  }

  .enjoy__container,
  .populer__container{
    grid-template-columns: 220px;
  }

  .about__branch{
    bottom: 12rem;
  }

  .join__content{
    padding: 2rem 1rem;
  }

  .footer__data{
    grid-template-columns: max-content;
    gap: 2rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
 .home__container,
  .about__container{
    grid-template-columns: 370px;
    justify-content: center;
  }

  .join__description{
    width: 350px;
    margin: 0 auto;
  }

  .join__form{
    padding: .5rem;
    border-radius: 4rem;
    grid-template-columns: 1fr max-content;
    transition: background-color .4s;
  }

  .join__button{
    padding: .75rem 1.5rem;
  }

  .footer__data{
    grid-template-columns: repeat(3, max-content);
  }
}
@media screen and (min-width: 768px){
 
  .home__container,
  .about__container{
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }

  .home__data,
  .about__data,
  .about__data .section__tittle{
    text-align: initial;
  }

  .home__food{
    left: 10rem
  }

  .enjoy__container,
  .populer__container{
    grid-template-columns: repeat(2, 250px);
  }

  .about__img{
    order: -1;
  }

  .join__form{
    width: 600px;
    justify-self: center;
  }

  .footer__data{
    grid-template-columns: repeat(4, max-content)
  }
}

/* For large devices */
@media screen and  (min-width: 1150px){
  .container{
    margin-inline: auto;
  }

  .section{
    padding-block: 7rem 2rem;
  }

  .nav{
    height: calc(var(--header-height) + 2rem);
  }

  .nav__close,
  .nav__toggle,
  .nav__img-1,
  .nav__img-2{
    display: none;
  }

  .nav__menu{
    margin-left:auto;
  }

  .nav__list{
    flex-direction: row;
    column-gap: 4rem;
  }

  .dark-theme .nav__menu{
    box-shadow: none;
  }

  .home__container{
    grid-template-columns: 470PX 600px;
    padding-top: 3.5rem;
  }

  .home__food{
    width: 70px;
    left: 19rem;
    top: 12rem;
  }

  .home__tittle{
    margin-bottom: 1.5rem;
  }

  .home__description{
    padding-right: 5rem;
    margin-bottom: 3rem;
  }

  .home__img{
    width: 600px;
  }

  .home__branch{
    width: 200px;
    right: -5rem;
    bottom: 0rem;
  }

  .enjoy__container{
    grid-template-columns: repeat(3, 278px);
    column-gap: 2.5rem;
    padding-top: 4rem;
  }

  .enjoy__card{
    padding-block: 1.5rem 3rem;
  }

  .enjoy__img{
    width: 300px;
  }

  .enjoy__title{
    font-size: calc(var(--h2-font-size));
  }

  .about__container{
    grid-template-columns: 600px 400px;
    column-gap: 5.5rem;
  }

  .about__data .section__title{
    margin-bottom: 1.5rem;
  }

  .about__description{
    margin-bottom: 3.5rem;
  }

  .about__food{
    width: 70px;
    bottom: 2rem;
  }

  .about__branch{
    width: 200px;
    bottom: 0rem;
  }

  .populer__container{
    grid-template-columns: repeat(3, 270px);
    gap: 8rem 3rem;
    padding-top: 8rem;
  }

  .populer__tittle{
    margin-bottom: .5rem;
  }

  .populer__description{
    margin-bottom: 1rem;
  }

  .populer__button{
    right: 1.5rem;
    bottom: 0.5rem;
  }

  .join__content{
    padding-block: 4rem;
    border-radius: 3.5rem;
  }

  .join__leaf-1,
  .join__leaf-2{
    width: 100px;
  }

  .join__leaf-1{
    left: 7rem;
    width: 10rem;
  }

  .join__leaf-2{
    right: 7rem;
    width: 10rem;
  }

  .join__description{
    width: 700px;
  }

  .footer{
    position: relative;
    padding-block: 5rem 3rem;
  }

  .footer__contaier{
    position: initial;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer_logo{
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
  }

  .footer__data{
    column-gap: 4.5rem;
  }

  .footer__title{
    margin-bottom: 1.5rem;
    color: var(--text-color) !important;
  }

  .footer__sosial{
    column-gap: 1.25rem;
  }

  .footer__sosial-link{
    font-size: 1.5rem;
  }
  
.nav__list{
  padding-right: 4rem;
}

 #theme-button{
  padding-bottom: 1rem;
 }

 .scrollup{ 
  right: 3rem;
 }
}

